@import 'var';

#top .container,#buy-main .container{
    width:990px;
}
#top .search-right {
    margin: 7px 12px 0 0;
}

#buy-main{
    h3{
        height:34px;
        font-size:14px;
    }
    .cart_nav{
        margin-bottom:20px;
        height:34px;
        background:#f2f2f2;
        font-size:14px;
        color:#666;
        line-height:34px;
        padding-left:10px;
        p{
            input{
                background:#fff;
            }
            span{
                display:inline-block;
                margin-right:80px;
            }
        }
        ul{
            li{
                float:left;
                margin:0 60px;
            }
        } 
    }
    .c-goodslist{
        margin-bottom:20px;
        border:1px solid #ddd;
        h3{
            background:#f2f2f2;
            height:45px;
            font-size:14px;
            font-weight:bold;
            padding-left:10px;
            line-height:45px;
            // vertical-align:middle;
        }
        ul{
            li{
                padding:15px 10px;
                border-bottom:1px dashed #ccc;
                p{
                    display:inline-block;
                    font-size:12px;
                    line-height:18px;
                    
                }
                img{
                    height:90px;
                    width:90px;
                }
                .goods_num{
                    margin-left:90px;
                    height:20px;
                    width:80px;
                    border:1px solid #ddd;
                    input{
                        width:42px;
                        text-align:center;
                    }
                    span{
                        display:inline-block;
                        width:14px;
                        text-align:center;
                    }
                    .reduce{
                        border-right:1px solid #ddd;
                    }
                    .add{
                        border-left:1px solid #ddd;
                    }
                }
                .des_goods{
                    width:246px;
                    .des-g{
                        display:inline-block;
                        width:246px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow:ellipsis;
                        color:#999;
                    }
                }
                .cost{
                    margin-left:60px;
                }
                .total-cost{
                    margin-left:70px;
                }
                .ope-goods{
                    margin-left:70px;
                    span{
                        display:block;
                        text-align:center;
                        color:#666;
                    }
                }
            }
            li:last-of-type{
                border:none;
            }
        }
        
    }
    .settle_floor{
        background:#f2f2f2;
        margin-bottom:100px;
        position:relative;
        ul{
            height:60px;
            font-size:14px;
            line-height:60px;
            color:#666;
            
            li{
                height:60px;
                float:left;
                padding-right:28px;
                
                a{
                    color:#666;
                }
            }
            .check_a{
                 padding:0 20px 0 10px;
                input{
                   
                }
            }
            .check_set_n{
                padding:0 50px;
            }
            .total_g{
                
                position:absolute;
                top:0;right:180px;
                line-height:18px;
                text-align:right;
                padding-top:10px;
                b{
                    color:$mainColor;
                }
                
            }
            .check_btn{
                position:absolute;
                top:0;
                right:0;
                height:60px;
                width:180px;
                a{
                    display:block;
                    height:60px;
                    width:180px;
                    background:$mainColor;
                    color:#fff;
                    text-align:center;
                }
            }
        }
    }
}