/*
z-bread样式
*/
.z_bread{
    background:#F1F1F1;
    height:36px;
    margin-bottom:5px;
    span{
        font-size:14px;
        line-height:36px;
        padding-right:8px;
        color:#666666;
    }
    a{
        display:inline-block;
        font-size:14px;
        line-height:36px;
        padding-right:8px;
        color:#666666;
    }
}