
@import 'var';


#top{
    .search_right{
        form{
            font-size:14px;
            line-height:40px;
        }
        #store_ser{
            height:40px;
            width:228px;
            border:1px solid #B32424;
            border-right:none;
        }
        button{
            width:60px;
            height:40px;
            text-align:center;
        }
    }
    .p-nav{
        .pro_nav{
            height:44px;
            background:#000;
            width:1232px;
            li{
                float:left;
                padding-left:46px;
                a{
                    display:block;
                    height:44px;
                    color:#fff;
                    font-size:14px;
                    line-height:44px;
                }
                a:hover{
                    color:#DDC89B;
                    padding-bottom:8px;
                    border-bottom:2px solid #DDC89B;
                }
            }
        }
    }
}
#main{
    .main-l{
        width:210px;
        font-size:14px;
    }
    
    .main-l-t{
        h5{
            height:42px;
            background:#ccc;
            color:#000;
            padding-left:10px;
            line-height:42px;
        }
        border:1px solid #ddd;
        margin:5px 0;
        // label{
        //     float:right;
        // }
        #keyword{
            width:122px;
            height:28px;
            border:1px solid #ddd;
        }
        #m-pri{
            height:28px;
            width:48px;
            border:1px solid #ddd;
        }
        .m-btnser{
            width:70px;
            height:28px;
            background:#CC5252;
            color:#fff;
        }
    }
    .main-l-b{
        border:1px solid #ddd;
    }
}

#main{
    .main-r{
        width:1022px;
    }
    .main-r-head{
        height:38px;
        margin:0 0 5px 20px;
        border-bottom:1px solid #ccc;
        li{
            float:left;
            font-size:14px;
            line-height:38px;
            padding-left:35px;

            span{
                display:block;
                font-weight:bold;
            }
        }
        li:hover span{
            color:#CC5252;
            border-bottom:2px solid #CC5252;
            cursor:pointer;
        }
        p{
            text-align:center;
            line-height:38px;
            cursor:pointer;
        }
    }
    .main-r-list{
        ul{
            position:relative;
            li{
                a{
                    color:#000;
                }
                float:left;
                width:$listWidth;
                height:462px;
                padding:16px 16px 10px;
                margin-bottom:10px;
                img{
                    width:$listInwidth;

                }
                h5{
                    font-size:12px;
                    line-height:20px;
                }
                .pro_num{
                    overflow:hidden;
                }
                .price_n{
                    font-size:16px;
                    line-height:30px;
                }
                .sale_n{
                    font-size:12px;
                    line-height:30px;
                    color:$footColor;
                }
                .p_dealer{
                    width:40px;
                    height:20px;
                    font-size:12px;
                    line-height:20px;
                    text-align:center;
                    border-radius:10px;
                    background:$mainColor;
                    color:#fff;
                }
                .add-goods{
                    margin-top:5px;
                    display:none;
                    width:$listInwidth;
                    height:30px;
                    border:1px solid #ddd;
                    span{
                        display:inline-block;
                        width:97px;
                        text-align:center;
                        font-size:12px;
                        line-height:30px;
                    }
                    .add1{
                        border-right:1px solid #ddd;
                    }
                    .f_color{
                        color:red;
                    }
                }
            }
            li:hover{
                box-shadow:0 0 8px #DFDFDF;

            }
            li:hover .add-goods{
                display:block;
            }
        }
        
    }
    .page-no{
        
    }
}