#top{
    .search_right{
        form{
            font-size:14px;
            line-height:40px;
        }
        #store_ser{
            height:40px;
            width:228px;
            border:1px solid #B32424;
            border-right:none;
        }
        button{
            width:60px;
            height:40px;
            text-align:center;
        }
    }
    .p-nav{
        .pro_nav{
            height:44px;
            background:#000;
            width:1232px;
            li{
                float:left;
                padding-left:46px;
                a{
                    display:block;
                    height:44px;
                    color:#fff;
                    font-size:14px;
                    line-height:44px;
                }
                a:hover{
                    color:#DDC89B;
                    padding-bottom:8px;
                    border-bottom:2px solid #DDC89B;
                }
            }
        }
    }
}
#main{
    .main-l{
        width:210px;
        font-size:14px;
    }
    
    .main-l-t{
        h5{
            height:42px;
            background:#ccc;
            color:#000;
            padding-left:10px;
            line-height:42px;
        }
        border:1px solid #ddd;
        margin:5px 0;
        // label{
        //     float:right;
        // }
        #keyword{
            width:122px;
            height:28px;
            border:1px solid #ddd;
        }
        #m-pri{
            height:28px;
            width:48px;
            border:1px solid #ddd;
        }
        .m-btnser{
            width:70px;
            height:28px;
            background:#CC5252;
            color:#fff;
        }
    }
    .main-l-b{
        border:1px solid #ddd;
    }
}

#main{
    .main-r{
        width:1022px;
    }
    .main-r-head{
        height:38px;
        margin-left:20px;
        border-bottom:1px solid #ccc;
        li{
            float:left;
            font-size:14px;
            line-height:38px;
            padding-left:35px;

            span{
                display:block;
                font-weight:bold;
            }
        }
        li:hover span{
            color:#CC5252;
            border-bottom:2px solid #CC5252;
            cursor:pointer;
        }
        p{
            text-align:center;
            line-height:38px;
            cursor:pointer;
        }
    }
    .main-r-list{
        ul{
            li{
                float:left;
                width:226px;
                h5{
                    font-size:12px;
                }
            }
        }
        
    }
}