
@import 'var';


#top{
    .search_right{
        form{
            font-size:14px;
            line-height:40px;
        }
        #store_ser{
            height:40px;
            width:228px;
            border:1px solid #B32424;
            border-right:none;
        }
        button{
            width:60px;
            height:40px;
            text-align:center;
        }
    }
    .p-nav{
        .pro_nav{
            height:44px;
            background:#000;
            width:1232px;
            li{
                float:left;
                padding-left:46px;
                a{
                    display:block;
                    height:44px;
                    color:#fff;
                    font-size:14px;
                    line-height:44px;
                }
                a:hover{
                    color:#DDC89B;
                    padding-bottom:8px;
                    border-bottom:2px solid #DDC89B;
                }
            }
        }
    }
}
#main{
    .main-l{
        margin-right:3px;
        width:210px;
        h3{
            width:209px;
            height:42px;
            font-size:14px;
            font-weight:bold;
            line-height:42px;
            padding-left:12px;
            background:#F1F1F1;
        }
        .blt{
            border:1px solid #ddd;
            // padding:0 15px;
            .bl-store{
                margin:0 15px;
                padding:0 20px 24px;
                border-bottom:1px solid #ddd;
                i{
                    display:block;
                    margin:30px 0 13px;
                    width:114px;
                    height:97px;
                    background:url(../css/img/z-main.fw.png) -600px -520px no-repeat;
                }
                p{
                    font-size:14px;
                    line-height:20px;
                    color:#999;

                    span{
                        display:inline-block;
                        width:62px;
                        text-align:right;
                        padding-right:5px;
                    }
                    b{  
                        font-size:12px;
                        color:#000;
                    }
                }
            }
            .bl-link{
                li{
                    float:left;
                    margin:20px 12px;
                    i{
                        display:inline-block;
                        width:18px;
                        height:17px;
                    }
                    .store-icon{
                        background:url(../css/img/z-main.fw.png) -400px -50px no-repeat;
                    }
                    .circle{
                        background:url(../css/img/z-main.fw.png) -400px -70px no-repeat;
                    }
                    span{
                        font-size:14px;
                        color:#999;
                        vertical-align:top;
                        cursor:pointer;
                    }
                }
            }
        }
        .bl2{
            border:1px solid #ddd;
            margin:10px 0;
            ul{
                li{
                    margin:30px 0 30px 33px;
                    i{
                        display:inline-block;
                        margin-left:-20px;
                    }
                    a{
                        font-size:14px;
                        color:#000;
                        cursor:pointer;
                    }
                    ul{
                        display:none;
                    }
                }
            }
        }
        .bl3{
            border:1px solid #ddd;
            margin-bottom:10px;
            div{
                height:28px;
                width:210px;
                padding:10px 0px 0 13px;
                span{
                    display:inline-block;
                    font-size:14px;
                    width:56px;
                    text-align:right;
                }
                input{
                    border:1px solid #ddd;
                }
                .keyword{
                    width:120px;
                    height:28px;
                }
                .jian{
                    width:10px;
                }
                .p1{
                    width:50px;
                    height:28px;
                }
            }
            .range-t{
                margin-top:10px;
            }
            .serch-btn{
                width:68px;
                height:28px;
                background:#CC5252;
                line-height:28px;
                text-align:center;
                margin:20px 0 20px 73px;
                color:#fff;
            }
        }
        .bl4{
            margin-bottom:10px;
            border:1px solid #ddd;
            ul{
                li{
                    img{
                        margin-top:20px;
                        height:190px;
                        
                    }
                    h4{
                        font-size:14px;
                        line-height:24px;
                    }
                    p{
                        font-size:14px;
                        line-height:20px;
                        color:#999;
                    }
                }
            }
        }
    }
}

#main{
    .main-r{
        width:1022px;
    }
    .main-r-head{
        height:38px;
        margin:0 0 5px 20px;
        border-bottom:1px solid #ccc;
        li{
            float:left;
            font-size:14px;
            line-height:38px;
            padding-left:35px;

            span{
                display:block;
                font-weight:bold;
            }
        }
        li:hover span{
            color:#CC5252;
            border-bottom:2px solid #CC5252;
            cursor:pointer;
        }
        p{
            text-align:center;
            line-height:38px;
            cursor:pointer;
        }
    }
    .main-r-list{
        ul{
            position:relative;
            li{
                a{
                    color:#000;
                }
                float:left;
                width:$listWidth;
                height:462px;
                padding:16px 16px 10px;
                margin-bottom:10px;
                img{
                    width:$listInwidth;

                }
                h5{
                    font-size:12px;
                    line-height:20px;
                }
                .pro_num{
                    overflow:hidden;
                }
                .price_n{
                    font-size:16px;
                    line-height:30px;
                }
                .sale_n{
                    font-size:12px;
                    line-height:30px;
                    color:$footColor;
                }
                .p_dealer{
                    width:40px;
                    height:20px;
                    font-size:12px;
                    line-height:20px;
                    text-align:center;
                    border-radius:10px;
                    background:$mainColor;
                    color:#fff;
                }
                .add-goods{
                    margin-top:5px;
                    display:none;
                    width:$listInwidth;
                    height:30px;
                    border:1px solid #ddd;
                    span{
                        display:inline-block;
                        width:97px;
                        text-align:center;
                        font-size:12px;
                        line-height:30px;
                    }
                    .add1{
                        border-right:1px solid #ddd;
                    }
                    .f_color{
                        color:red;
                    }
                }
            }
            li:hover{
                box-shadow:0 0 8px #DFDFDF;

            }
            li:hover .add-goods{
                display:block;
            }
        }
        
    }
    .page-no{
        
    }
}

#main{
    .main-r{
        .pages{
            height:30px;
            margin:30px auto;
            text-align:center;
            span{
                display:inline-block;
                width:30px;
                font-size:12px;
                line-height:30px;
                border-radius:50%;
            }
            span.active{
                border:1px solid #999;
                
            }
            span:hover{
                background:#ccc;
            }
        }
    }
}