#top .container, #buy-main .container { width: 990px; }

#top .search-right { margin: 7px 12px 0 0; }

#buy-main h3 { height: 34px; font-size: 14px; }

#buy-main .cart_nav { margin-bottom: 20px; height: 34px; background: #f2f2f2; font-size: 14px; color: #666; line-height: 34px; padding-left: 10px; }

#buy-main .cart_nav p input { background: #fff; }

#buy-main .cart_nav p span { display: inline-block; margin-right: 80px; }

#buy-main .cart_nav ul li { float: left; margin: 0 60px; }

#buy-main .c-goodslist { margin-bottom: 20px; border: 1px solid #ddd; }

#buy-main .c-goodslist h3 { background: #f2f2f2; height: 45px; font-size: 14px; font-weight: bold; padding-left: 10px; line-height: 45px; }

#buy-main .c-goodslist ul li { padding: 15px 10px; border-bottom: 1px dashed #ccc; }

#buy-main .c-goodslist ul li p { display: inline-block; font-size: 12px; line-height: 18px; }

#buy-main .c-goodslist ul li img { height: 90px; width: 90px; }

#buy-main .c-goodslist ul li .goods_num { margin-left: 95px; height: 20px; width: 80px; border: 1px solid #ddd; }

#buy-main .c-goodslist ul li .goods_num input { width: 42px; text-align: center; }

#buy-main .c-goodslist ul li .goods_num span { display: inline-block; width: 14px; text-align: center; }

#buy-main .c-goodslist ul li .goods_num .reduce { border-right: 1px solid #ddd; }

#buy-main .c-goodslist ul li .goods_num .add { border-left: 1px solid #ddd; }

#buy-main .c-goodslist ul li .des_goods { width: 246px; }

#buy-main .c-goodslist ul li .des_goods .des-g { display: inline-block; width: 246px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #999; }

#buy-main .c-goodslist ul li .cost { margin-left: 70px; }

#buy-main .c-goodslist ul li .total-cost { margin-left: 80px; }

#buy-main .c-goodslist ul li .ope-goods { margin-left: 90px; }

#buy-main .c-goodslist ul li .ope-goods span { display: block; text-align: center; color: #666; }

#buy-main .c-goodslist ul li:last-of-type { border: none; }

#buy-main .settle_floor { background: #f2f2f2; margin-bottom: 100px; position: relative; }

#buy-main .settle_floor ul { height: 60px; font-size: 14px; line-height: 60px; color: #666; }

#buy-main .settle_floor ul li { height: 60px; float: left; padding-right: 28px; }

#buy-main .settle_floor ul li a { color: #666; }

#buy-main .settle_floor ul .check_a { padding: 0 20px 0 10px; }

#buy-main .settle_floor ul .check_set_n { padding: 0 50px; }

#buy-main .settle_floor ul .total_g { position: absolute; top: 0; right: 180px; line-height: 18px; text-align: right; padding-top: 10px; }

#buy-main .settle_floor ul .total_g b { color: #CC5252; }

#buy-main .settle_floor ul .check_btn { position: absolute; top: 0; right: 0; height: 60px; width: 180px; }

#buy-main .settle_floor ul .check_btn a { display: block; height: 60px; width: 180px; background: #CC5252; color: #fff; text-align: center; }
