#top .search_right form { font-size: 14px; line-height: 40px; }

#top .search_right #store_ser { height: 40px; width: 228px; border: 1px solid #B32424; border-right: none; }

#top .search_right button { width: 60px; height: 40px; text-align: center; }

#top .p-nav .pro_nav { height: 44px; background: #000; width: 1232px; }

#top .p-nav .pro_nav li { float: left; padding-left: 46px; }

#top .p-nav .pro_nav li a { display: block; height: 44px; color: #fff; font-size: 14px; line-height: 44px; }

#top .p-nav .pro_nav li a:hover { color: #DDC89B; padding-bottom: 8px; border-bottom: 2px solid #DDC89B; }

#main .main-l { width: 210px; font-size: 14px; }

#main .main-l-t { border: 1px solid #ddd; margin: 5px 0; }

#main .main-l-t h5 { height: 42px; background: #ccc; color: #000; padding-left: 10px; line-height: 42px; }

#main .main-l-t #keyword { width: 122px; height: 28px; border: 1px solid #ddd; }

#main .main-l-t #m-pri { height: 28px; width: 48px; border: 1px solid #ddd; }

#main .main-l-t .m-btnser { width: 70px; height: 28px; background: #CC5252; color: #fff; }

#main .main-l-b { border: 1px solid #ddd; }

#main .main-r { width: 1022px; }

#main .main-r-head { height: 38px; margin: 0 0 5px 20px; border-bottom: 1px solid #ccc; }

#main .main-r-head li { float: left; font-size: 14px; line-height: 38px; padding-left: 35px; }

#main .main-r-head li span { display: block; font-weight: bold; }

#main .main-r-head li:hover span { color: #CC5252; border-bottom: 2px solid #CC5252; cursor: pointer; }

#main .main-r-head p { text-align: center; line-height: 38px; cursor: pointer; }

#main .main-r-list ul { position: relative; }

#main .main-r-list ul li { float: left; width: 234px; height: 462px; padding: 16px 16px 10px; margin-bottom: 10px; }

#main .main-r-list ul li a { color: #000; }

#main .main-r-list ul li img { width: 202px; }

#main .main-r-list ul li h5 { font-size: 12px; line-height: 20px; }

#main .main-r-list ul li .pro_num { overflow: hidden; }

#main .main-r-list ul li .price_n { font-size: 16px; line-height: 30px; }

#main .main-r-list ul li .sale_n { font-size: 12px; line-height: 30px; color: #999; }

#main .main-r-list ul li .p_dealer { width: 40px; height: 20px; font-size: 12px; line-height: 20px; text-align: center; border-radius: 10px; background: #CC5252; color: #fff; }

#main .main-r-list ul li .add-goods { margin-top: 5px; display: none; width: 202px; height: 30px; border: 1px solid #ddd; }

#main .main-r-list ul li .add-goods span { display: inline-block; width: 97px; text-align: center; font-size: 12px; line-height: 30px; }

#main .main-r-list ul li .add-goods .add1 { border-right: 1px solid #ddd; }

#main .main-r-list ul li .add-goods .f_color { color: red; }

#main .main-r-list ul li:hover { box-shadow: 0 0 8px #DFDFDF; }

#main .main-r-list ul li:hover .add-goods { display: block; }
