#top{width:100%;}
#top .topcont{
    height:29px;
    border-bottom:1px solid #A2A2C2;
}
#top .topcont h3{
    padding-left: 10px;
    float:left;
}
#top .topcont h3 a{
    color:#998C59;
    font-size: 12px;
    line-height: 29px;
}
#top .topcont ul{
/*    width:618px;*/
    float:right;
    overflow: hidden;
}
#top .topcont ul li{
    float:left;
    
}
#top .topcont ul li a{
    display: inline-block;
    color:#999999;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
#top .topcont ul li a span{
    padding:0 13px;
    height:14px;
    font-size: 14px;
    line-height: 14px;
    border-right:1px solid #DDE4EF;
}
#top .topcont ul li:last-child a span{
    border:none;
}
#top .topcont ul li a .t_red{
    color:red;
}
#top .topcont ul li a:hover span{
    color:#000;
}
#top .search{
    height:115px;

}
#top .search .logo1{
    margin-left:58px;
}
#top .search input{
    border-bottom:1px solid #999999;
    width:280px;
    height:36px;
    line-height: 36px;
    font-size: 12px;
    color:#999999;
}
#top .search-right{
    margin:46px 12px 0 0;
}
#top .nav-l{
    position:relative;
    float:left;
    width:210px;

    line-height: 42px;
}
#top .nav-l .pro{
    background-color:#A62222;
    height:42px;
}
#top .nav-l a{
    color:#fff;
}
#top .nav-l .nav-bar{
    z-index: 1000;
    position:absolute;
    top:42px;
    left:0;
    height:429px;
}

#top .nav-l .nav-bar li{
    float:left;
    width:210px;
    height:52px;
    position:relative;
    padding-left: 10px;
}

#top .nav-l .nav-bar ul>li:hover .nav-more{
    display:block;
}
#top .nav-l .nav-bar ul>li:nth-child(2n-1){
    background-color: #402D2D;
}
#top .nav-l .nav-bar ul>li:nth-child(2n){
    background-color: #332424;
}
#top .nav-l .nav-bar ul>li:hover{
    background-color: #fff;
}
#top .nav-l .nav-bar ul>li:hover a{
    color:#000;
}
#top .nav-l .nav-bar ul>li a{
    display:inline-block;
    height:42px;
    font-size: 12px;
    line-height: 52px;
    color:#CCCCCC;
}
#top .nav-bar .nav-more{
    display:none;
    position:absolute;
    top:0;
    left:210px;
    width:780px;
    height:429px;
    border-top:2px solid #000;
}
#top .nav-r{
    float:left;
    width:1023px;
    border-bottom:1px solid #ccc;
}
#top .nav-r ul{
    overflow:hidden;
    padding-left: 50px;
}
#top .nav-r ul li{
    float:left;

}

#top .nav-r ul li a{
    display:inline-block;
    color:#000;
    padding-right:38px;
    font-size: 14px;
    height:42px;
    line-height: 42px;
}

#banner{
    height:415px;
    width:100%;
    background-color: pink;
}

#hmain{
    width:100%;
}
#hmain img{
    
}


